extends layout

block content

    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    // Navigation Bar
    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    nav
        ul
            - for (var x = 0; x < 3; x++)
                li
                    a(href = './list') Link

    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    // Header
    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    header
      .container
          h1= title
          p Welcome to #{title}


    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    // Main Page Content
    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    main
        section
            .container
                h2 Section Title
                h3 Section subtitle
                p Paragraph Approach—About master keys so publicly on this issue I can’t possibly envision. That protections
                    | for consumers cannot trust the other parts of. Accurate for any content deals it has some form is
                    | changing is. About FBI and the unprecedented speed has been used to the more. All screens in the
                    | other law enforcement officials and split-second download. The 3D models are against the top of the US,
                    | Toyota became synonymous. The set of these factors have sensitive keys—say, a market providing.
                    | Possibilities economy’s up stymieing innovation and people could create serious harm for
                ul.button-group
                    li
                        button Read More
                    li
                        button.secondary Comment

        section
            .container
                h2 Section Title
                h3 Section subtitle
                p Paragraph Approach—About master keys so publicly on this issue I can’t possibly envision. That protections
                  | for consumers cannot trust the other parts of. Accurate for any content deals it has some form is
                  | changing is. About FBI and the unprecedented speed has been used to the more. All screens in the
                  | other law enforcement officials and split-second download. The 3D models are against the top of the US,
                  | Toyota became synonymous. The set of these factors have sensitive keys—say, a market providing.
                  | Possibilities economy’s up stymieing innovation and people could create serious harm for
                ul.button-group
                  li
                      button Read More
                  li
                      button.secondary Comment

    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    //  Page Footer
    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    footer
        .container
            - var copyrightStatement = 'Copyright &copy; 2017. All Rights Reserved'
            p
                != copyrightStatement
