extends layout

block content

    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    // Navigation Bar
    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    nav
        ul
            - for (var x = 0; x < 3; x++)
                li
                    a(href = 'index.html') Link

    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    // Header
    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    header
      .container
          h1= title
          p Welcome to #{title}


    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    // Main Page Content
    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    main
        section
            .container
                h2 Some List
                h3 With tasks and reminders.
                p Paragraph approach about master keys so publicly on this issue I can’t possibly envision.
                hr

                #task-list-wrapper
                    ul#task-list
                        li.task-item
                            h4 Task Title
                            p Task content body or whatever.
                        li.task-item
                            h4 Task Title
                            p Task content body or whatever.
                        li.task-item
                            h4 Task Title
                            p Task content body or whatever.
                    ul.button-group.wide
                        li
                            button Add Task
                        li
                            button.danger Remove All




    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    //  Page Footer
    // –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    footer
        .container
            - var copyrightStatement = 'Copyright &copy; 2017. All Rights Reserved'
            p
                != copyrightStatement
