$_button-background-color: $action-color;
$_button-background-color-hover: shade($action-color, 10%);
$_button-background-color-active: shade($action-color, 20%);



@mixin solidStyleButton($btn-color: $_button-background-color) {
    appearance: none;
    background-color: $btn-color;
    border: 0;
    border-radius: $base-border-radius;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: $base-font-family;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.5px;
    padding: $small-spacing $base-spacing;
    text-align: center;
    text-decoration: none;
    transition: all $base-duration $base-timing;
    backface-visibility: hidden !important;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:hover {
        background: shade($btn-color, 10%);
        //color: contrast-switch($_button-background-color-hover);
    }

    &:focus {
        outline: 0 !important;
        background: shade($btn-color, 10%);
    }

    &:active {
        transform: translateY(0.25rem);
        background: shade($btn-color, 20%);
        outline: 0 !important;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            background-color: $_button-background-color;
        }
    }
}
@mixin outlineStyleButton($btn-color: $_button-background-color) {

    $_this-btn-color-hover: shade($btn-color, 20%);
    $_this-btn-color-active: shade($btn-color, 30%);

    appearance: none;
    background-color: rgba($_button-background-color, 0.0);
    background: transparent !important;
    border: $btn-color solid 1px;
    border-radius: $base-border-radius;
    //color: white;
    color: $btn-color;
    cursor: pointer;
    display: inline-block;
    font-family: $base-font-family;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1;
    padding: $small-spacing $base-spacing;
    text-align: center;
    text-decoration: none;
    transition: background-color $base-duration $base-timing;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:hover {
        color: $_this-btn-color-hover;
        outline: 0 !important;
        border-color: $_this-btn-color-hover;
        //color: contrast-switch($_button-background-color-hover);
    }

    &:focus {
        //outline: $focus-outline;
        outline: 0 !important;
        //outline-offset: $focus-outline-offset;
        color: $_this-btn-color-hover;
        border-color: $_this-btn-color-hover;
    }
    &:active {
        color: $_this-btn-color-active;
        outline: 0 !important;
        border-color: $_this-btn-color-active;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            background-color: $_button-background-color;
        }
    }
}
//
//@mixin button($btn-color: $_button-background-color, $btn-style: solid) {
//
//}

.button {
    @include solidStyleButton();
}

.outline {
    @include outlineStyleButton();
}

#{$all-buttons} {
    @extend .button;
}

.secondary {
    @include solidStyleButton($btn-color: $secondary-color);
}

.danger {
    @include solidStyleButton($btn-color: $danger-color);
}
