/**
*     'Polyfill' (not really, but for lack of a better term...)
*     to support the broken reference to the System font stack
*     variable deprecated in the newest version of Bourbon.
*
*     credit: https://css-tricks.com/snippets/css/system-font-stack/
**/

// Font Stacks

/* System Fonts as used by GitHub */
$font-stack-system__github: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* System Fonts as used by Medium and WordPress */
$font-stack-system__medium: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

/* Set further variables here ... (in other words, choose one) */
$font-stack-system: $font-stack-system__medium;

$system-font-stack: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !default;


// Typography
//$base-font-family: $font-stack-system;
$base-font-family: $system-font-stack;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$secondary-color: #363c58;
$danger-color: #eb5f6b;
$light-blue-gray: #8389a3;
$off-white-blue: #e7f5f8;
$light-aqua-green: #6ab5b8;
$off-white: #f5f8f7;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
