/**
*     'Polyfill' (not really, but for lack of a better term...)
*     to support the broken reference to the System font stack
*     variable deprecated in the newest version of Bourbon.
*
*     credit: https://css-tricks.com/snippets/css/system-font-stack/
**/
/* System Fonts as used by GitHub */
/* System Fonts as used by Medium and WordPress */
/* Set further variables here ... (in other words, choose one) */
.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: all 150ms ease;
  backface-visibility: hidden !important;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background: #135bad; }
  .button:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
    outline: 0 !important;
    background: #135bad; }
  .button:active, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
    transform: translateY(0.25rem);
    background: #11519a;
    outline: 0 !important; }
  .button:disabled, button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    .button:disabled:hover, button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

.outline {
  appearance: none;
  background-color: rgba(21, 101, 192, 0);
  background: transparent !important;
  border: #1565c0 solid 1px;
  border-radius: 4px;
  color: #1565c0;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .outline:hover {
    color: #11519a;
    outline: 0 !important;
    border-color: #11519a; }
  .outline:focus {
    outline: 0 !important;
    color: #11519a;
    border-color: #11519a; }
  .outline:active {
    color: #0f4786;
    outline: 0 !important;
    border-color: #0f4786; }
  .outline:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    .outline:disabled:hover {
      background-color: #1565c0; }

.secondary {
  appearance: none;
  background-color: #363c58;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: all 150ms ease;
  backface-visibility: hidden !important;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .secondary:hover {
    background: #31364f; }
  .secondary:focus {
    outline: 0 !important;
    background: #31364f; }
  .secondary:active {
    transform: translateY(0.25rem);
    background: #2b3046;
    outline: 0 !important; }
  .secondary:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    .secondary:disabled:hover {
      background-color: #1565c0; }

.danger {
  appearance: none;
  background-color: #eb5f6b;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: all 150ms ease;
  backface-visibility: hidden !important;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .danger:hover {
    background: #d45660; }
  .danger:focus {
    outline: 0 !important;
    background: #d45660; }
  .danger:active {
    transform: translateY(0.25rem);
    background: #bc4c56;
    outline: 0 !important; }
  .danger:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    .danger:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*
 * ---------------------------------------------------------------------------------------------------------------------
 * Main Layout Elements
 * ---------------------------------------------------------------------------------------------------------------------
 */
html {
  background: #f5f8f7;
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  background: white; }

header {
  width: 100%;
  padding: 4rem 0 0;
  margin: 0; }
  header h1, header h2, header p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 1rem; }
  @media (min-width: 46.25em) {
    header {
      padding: 4rem 0 0; } }

nav {
  background: #f5f8f7;
  margin: 0;
  padding: 0;
  height: 4rem;
  width: 100%; }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    height: 100%;
    width: 33%;
    max-width: 25rem;
    min-width: 14rem;
    float: right; }
    nav ul li {
      flex-direction: column;
      align-items: stretch;
      align-content: stretch;
      justify-content: center;
      min-width: 4rem; }
      nav ul li a {
        vertical-align: middle;
        display: block;
        height: 100%;
        line-height: 1; }

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 0;
  width: 100%;
  background: white; }

.container {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 46.25em) {
    .container {
      width: 80%; } }

footer {
  background: #f5f8f7;
  text-align: center;
  margin: 0;
  width: 100%;
  padding: 2.5rem 0 0.5rem;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center; }
  footer p {
    line-height: 1 !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75019em;
    color: darkgray; }

/*
 * ---------------------------------------------------------------------------------------------------------------------
 * Button Groups
 * ---------------------------------------------------------------------------------------------------------------------
 */
@media (max-width: 46.24em) {
  .button-group {
    padding: 1rem 0 4rem 0; } }

@media (max-width: 46.24em) {
  .button-group button, .button-group .button, .button-group button, .button-group input[type="button"], .button-group input[type="reset"], .button-group input[type="submit"] {
    width: 100%;
    margin: 0.5rem 0; } }

@media (min-width: 46.25em) {
  .button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding-bottom: 4rem; }
    .button-group.wide {
      justify-content: space-between !important; } }

@media (min-width: 46.25em) {
  .button-group button, .button-group .button, .button-group button, .button-group input[type="button"], .button-group input[type="reset"], .button-group input[type="submit"] {
    margin-right: 2rem; } }

@media (min-width: 46.25em) {
  .button-group.wide button, .button-group.wide .button, .button-group.wide button, .button-group.wide input[type="button"], .button-group.wide input[type="reset"], .button-group.wide input[type="submit"] {
    margin-right: 0; } }

/*
 * ---------------------------------------------------------------------------------------------------------------------
 * Task List
 * ---------------------------------------------------------------------------------------------------------------------
 */
#task-list-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 2rem 1rem 2rem;
  background: #f5f8f7;
  margin-bottom: 1rem; }
  #task-list-wrapper #task-list .task-item {
    padding: 1rem;
    margin-bottom: 1rem;
    background: white;
    width: 100%; }
    #task-list-wrapper #task-list .task-item h4 {
      line-height: 1.5;
      margin-bottom: 0.5rem; }
    #task-list-wrapper #task-list .task-item p {
      line-height: 1;
      margin-bottom: 0; }
  #task-list-wrapper .button-group {
    padding: 0; }

* {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !important; }

html {
  font-size: 15px; }
  @media (min-width: 20em) {
    html {
      font-size: 16px; } }
  @media (min-width: 46.25em) {
    html {
      font-size: 17px; } }
  @media (min-width: 61.25em) {
    html {
      font-size: 18px; } }

body {
  font-size: 1em; }

p {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  line-height: 1.4;
  margin-bottom: 1.5rem; }
  @media (min-width: 46.25em) {
    p {
      line-height: 1.5;
      margin-bottom: 2rem; } }
  @media (min-width: 61.25em) {
    p {
      line-height: 1.7 !important;
      font-weight: 500 !important; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 1rem; }

h1 {
  font-size: 2.36859em; }

h2 {
  font-size: 1.77689em; }

h3 {
  font-size: 1.333em; }

h4 {
  font-size: 1em; }

/*# sourceMappingURL=style.css.map */