//
//
//


/*
 * ---------------------------------------------------------------------------------------------------------------------
 * Main Layout Elements
 * ---------------------------------------------------------------------------------------------------------------------
 */

html {
    background: $off-white;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    //width: 100%;
    background: white;
}
header {
    width: 100%;
    //background: $off-white;
    padding: 4rem 0 0;
    margin: 0;
    h1, h2, p {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    @include mq($from: tablet) {
        padding: 4rem 0 0;
    }
}
nav {


    background: $off-white;
    margin: 0;
    padding: 0;
    height: 4rem;
    width: 100%;
    ul {
        //vertical-align: middle;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        height: 100%;
        width: 33%;
        max-width: 25rem;
        min-width: 14rem;
        float: right;
        li {
            flex-direction: column;
            align-items: stretch;
            align-content: stretch;
            justify-content: center;
            min-width: 4rem;
            //text-align: center;
            //vertical-align: middle;
            //height: 100%;
            a {
                vertical-align: middle;
                display: block;
                height: 100%;
                line-height: 1;
                //margin: 0;
                //padding: 0;
            }
        }
    }
}
section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 0;
    width: 100%;
    background: white;
}
main {

}
.container {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    @include mq($from: tablet) {
        width: 80%;
    }
}
footer {
    background: $off-white;
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 2.5rem 0 0.5rem;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    p {
        line-height: 1 !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: modular-scale(-1);
        color: darkgray;
    }
}


/*
 * ---------------------------------------------------------------------------------------------------------------------
 * Button Groups
 * ---------------------------------------------------------------------------------------------------------------------
 */

@mixin blockButtonGroup() {
    padding: 1rem 0 4rem 0;
}
@mixin blockButton() {
    width: 100%;
    margin: 0.5rem 0;
}

.button-group {
    @include mq($until: tablet) {
        @include blockButtonGroup;
    }
    button, .button {
        @include mq($until: tablet) {
            @include blockButton;
        }
    }


    @include mq($from: tablet) {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        padding-bottom: 4rem;

        &.wide {
            justify-content: space-between !important;


        }
    }
    button, .button {
        @include mq($from: tablet) {
            margin-right: 2rem;
        }
    }
}

.button-group.wide {
    button, .button {
        @include mq($from: tablet) {
            margin-right: 0;
        }
    }
}



/*
 * ---------------------------------------------------------------------------------------------------------------------
 * Task List
 * ---------------------------------------------------------------------------------------------------------------------
 */

#task-list-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem 1rem 2rem;
    background: $off-white;
    margin-bottom: 1rem;
    #task-list {
        .task-item {
            padding: 1rem;
            margin-bottom: 1rem;
            background: white;
            width: 100%;
            h4 {
                line-height: 1.5;
                margin-bottom: 0.5rem;
            }
            p {
                line-height: 1;
                margin-bottom: 0;
            }
        }
    }
    .button-group {
        padding: 0;
    }
}
