//
//
//

* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-family: $base-font-family !important;
}

html {
    font-size: 15px;
    @include mq($from: mobile) {
        font-size: 16px;
    }
    @include mq($from: tablet) {
        font-size: 17px;
    }
    @include mq($from: desktop) {
        font-size: 18px;
    }
}

body {
    font-size: 1em;

}

button, a, li, ul, p {

}

p {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;

    line-height: 1.4;
    margin-bottom: 1.5rem;
    @include mq($from: tablet) {
        line-height: 1.5;
        margin-bottom: 2rem;
    }
    @include mq($from: desktop) {
        line-height: 1.7 !important;
        font-weight: 500 !important;
    }


}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 1rem;
}

h1 {
    font-size: modular-scale(3);
}
h2 {
    font-size: modular-scale(2);
}
h3 {
    font-size: modular-scale(1);
}
h4 {
    font-size: modular-scale(0);
}


